#include "winver.h"
#include "sources/version.h"

IDI_ICON1               ICON    DISCARDABLE     "icon.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION VER_FILE_VERSION
 PRODUCTVERSION VER_PRODUCT_VERSION
 FILEFLAGS 0x0L
 FILEFLAGSMASK 0x3fL
 FILEOS 0x00040004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "CompanyName", VER_COMPANY_NAME_STR "\0"
            VALUE "FileDescription", VER_FILE_DESCRIPTION_STR "\0"
            VALUE "FileVersion", VER_FILE_VERSION_STR "\0"
            VALUE "LegalCopyright", VER_COPYRIGHT_STR "\0"
            VALUE "InternalName", VER_INTERNAL_NAME_STR "\0"
            VALUE "OriginalFilename", VER_ORIGINAL_FILENAME_STR "\0"
            VALUE "ProductName", VER_PRODUCTNAME_STR "\0"
            VALUE "ProductVersion", VER_PRODUCT_VERSION_STR "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END
